# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

fieldnlay-dp
fieldnlay-mp
scattnlay-dp
scattnlay-mp

# Binary
*.bin

# Python
*.egg-info/*
.tox

# CLion files
.idea
cmake-build-*
CMakeFiles
CMakeCache.txt

# Temp
*~
oprofiletmp
callgrind
oprofile_data
out.dot
cov-int*
cov-int
build*
_deps 
.ipynb_checkpoints
Temporary
tests/Makefile
src/Makefile
examples/Makefile
*.cmake

# Local results
tests/python/field.txt
examples/*.pdf
examples/*.png
examples/*.7z
examples/Egor*
examples/egor*
examples/*.txt
examples/*.pyc
R*mkm*.jpg
examples/*/R*mkm.jpg
__pycache__

backup*

###########################################
# Web vue cli section

.DS_Store
node_modules
dist
surma-ashley-test

*src-electron*

nmiejs.wasm
nmiejs.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# end of web vue cli section
###########################################
