# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary
*.bin

# Temp
*~
oprofiletmp
callgrind
oprofile_data
out.dot
cov-int*
cov-int
build*
.ipynb_checkpoints
tests/python/field.txt
examples/*.pdf
examples/*.png
examples/*.7z
examples/Egor*
examples/egor*
examples/*.txt
examples/*.pyc

backup*

###########################################
# Web vue cli section

.DS_Store
node_modules
dist
surma-ashley-test

nmiejs.wasm
nmiejs.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# end of web vue cli section
###########################################

