# git submodule update --init --recursive
[submodule "guiapp/public/refractiveindex.info-database"]
	path = guiapp/public/refractiveindex.info-database
	url = git@github.com:kostyfisik/refractiveindex.info-database.git
[submodule "guiapp-vite/public/refractiveindex.info-database"]
	path = guiapp-vite/public/refractiveindex.info-database
	url = git@github.com:kostyfisik/refractiveindex.info-database.git
