include COPYING
include LICENSE
include README
include CHANGES
include MANIFEST.in
include Makefile
include setup.py
include setup_cython.py
include src/scattnlay.pyx
include src/*
include examples/*
include tests/python/*
include tests/shell/*
include debian/*
include doc/*
include utils/*

include go.sh
include push-to-github.sh

